@inherits ReactiveComponentBase<HomeViewModel>

@if (ViewModel!.Loaded)
{
    <Div Class="main-menu container-fluid">
        <div Class="row row-divider" />
        <div class="row">
            <ul class="news list-group list-group-flush list-group-horizontal-sm">
                <li class="list-group-item center"><small>NABUNetwork.com News</small></li>
                <Virtualize TItem="TickerItem" Items="ViewModel!.Headlines">
                    <li class="list-group-item center"><small><a target="_blank" href="@context?.Link">@context?.Title</a></small></li>
                </Virtualize>
                <li class="list-group-item center"><small><a target="_blank" href="https://www.nabunetwork.com">More...</a></small></li>
            </ul>
        </div>
        <div Class="row row-divider" /> 
        <div class="row" style="height: 400px">
            <div class="col flex-fill title-col">
                <div class="container-fluid title-box">
                    <div class="row">
                       
                        <div class="col">
                            <Image class="logo" Source="_content/Nabu.NetSim.UI/images/nabu.png" />

                        </div>
                        <div class="col top">
                            <StatusView />
                        </div>
                        
                        <MenuView />
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-divider" />
        <LogView />
    </Div>
} 
else
{
    <div class="loading-phrase">
        <center>@(ViewModel.Phrase)</center>
    </div>
}

