@inherits ReactiveLayoutComponentBase<MainLayoutViewModel>



<PageTitle>Welcome to 1984</PageTitle>


<div id="page">
    <main id="main-content">
        @Body
    </main>
    <br/>
    <div class="fixed-bottom" style="background-color: var(--light-background)">
        <small class="center"><a href="https://github.com/GryBsh/NabuNetworkEmulator" style="color: white">NABU NetSim</a>&nbsp;@(Emulator.Major).@(Emulator.Minor).@(Emulator.Build) (c) 2022-2023 - Nick Daniels</small>
    </div>
</div>
<div class="clear-fix" />


 
