@using Splat;
@inherits ReactiveLayoutComponentBase<RetroNetChatViewModel>

<Div class="container">
    <div class="row" style="height: 300px; overflow-y: scroll">
        <pre>
        <Virtualize TItem="string" Items="@ViewModel!.ChatLog">
            @($"{context}\n")
        </Virtualize>
        </pre>
    </div>
    <div class="row">
        <TextEdit @bind-Text=@ViewModel!.Message />
        <Button onclick="@(() => ViewModel!.Send())">Send</Button>
    </div>
</Div>
@code {
    

    public RetroNetChatView() {
        ViewModel = Locator.Current.GetService<RetroNetChatViewModel>();
    }
}
