@inherits ReactiveInjectableComponentBase<StatusViewModel>
<Span Class="sticky-top sticky-padded-top">
    <HeaderView Icon="@IconName.Server"
                Heading="Adaptors"
                ShowButton=false
            
                />
    <br/>            
    <AdaptorView Adaptors="@ViewModel!.Serial" />
    <AdaptorView Adaptors="@ViewModel!.TCP" />
    <!--<AdaptorView Adaptors="@ViewModel!.TCP" />-->

    @if (ViewModel.Connections.Count > 0)
    {
        <HeaderView Icon="@IconName.UserFriends"
                    Heading="Connections" />

    
        <AdaptorView Adaptors="@ViewModel.Connections" />

    }
</Span>
