@inherits ReactiveComponentBase<StatusViewModel>
<Div Class="container">
    <Div Class="row top-sm">
        <Div Class="col">
            Adaptors
        </Div>
    </Div>
    
    <AdaptorView Adaptors="@ViewModel!.Serial" />
    <AdaptorView Adaptors="@ViewModel!.TCP" />

@if (ViewModel.Connections.Count > 0)
{
    <Div Class="row top-sm">
        <Div Class="col">
            Connections
        </Div>
    </Div>
    
    <AdaptorView Adaptors="@ViewModel.Connections" />

}
</Div>