<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<variable name="MicrosoftLevel" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
	<variable name="MicrosoftLayout" value="[${date}] ${MicrosoftLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]> ${message}${onexception:inner=${newline}${exception:format=tostring}}" />

	<!-- the targets to write to -->
	<targets async="true">
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target xsi:type="File"
					name="file"
					fileName="${basedir}/logs/current.log"
					archiveFileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log"
					archiveEvery="Day"
					archivemaxfiles="7"
					layout="${MicrosoftLayout}" />
		</target>
		<target name="asyncConsole" xsi:type="AsyncWrapper">
			<target name="colorconsole" xsi:type="ColoredConsole" layout="${MicrosoftLayout}" useDefaultRowHighlightingRules="false">
				<highlight-word foregroundColor="DarkGreen" regex="^info" />
				<highlight-word foregroundColor="Yellow" regex="^warn" />
				<highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
				<highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
			</target>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="System.Net.Http.*" maxLevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.*" maxlevel="Info" writeTo="asyncFile" final="true" />
		<logger name="*" minlevel="Info" writeTo="asyncFile,colorConsole" />
	</rules>
</nlog>