<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<variable name="MicrosoftLevel" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
	<variable name="MicrosoftLayout" value="${MicrosoftLevel}: [${date:format=yyyy-MM-dd} ${time:format=HH:mm:ss.ffff}] ${logger}: ${message}${onexception:inner=${newline}${exception:format=tostring}}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!-- the targets to write to -->
	<targets async="true">

		<target xsi:type="File"
				name="file"
				fileName="${basedir}/logs/current.log"
				archiveEvery="Day"
				maxArchiveFiles="7"
				maxArchiveDays="7"
				archiveNumbering="Date"
				layout="${MicrosoftLayout}" />

		<target name="colorconsole" xsi:type="ColoredConsole" layout="${MicrosoftLayout}" useDefaultRowHighlightingRules="false">
			<highlight-word foregroundColor="DarkGreen" regex="^info" />
			<highlight-word foregroundColor="Yellow" regex="^warn" />
			<highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
			<highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="info" writeTo="file" />
	</rules>
</nlog>